<link rel="stylesheet" href="/css/header.css">
<header class="barra-superior">
    <h1>LEX3</h1>
    <nav>
        <a href="/">Início</a>
        <a href="/perfil">Meu Perfil</a>
        <a href="/cadastro_disciplina">Cadastro Disciplina</a>
    </nav>
</header>
