<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="/css/header.css">
<header class="barra-superior">
    <h1>LEX3</h1>
    <nav>
        <a href="/"><i class="fa-solid fa-house" style="color: #ffffff;"></i> Início</a>
        <a href="/perfil"><i class="fa-solid fa-user" style="color: #ffffff;"></i> Meu Perfil</a>
    </nav>
</header>
