<link rel="stylesheet" href="/css/message.css">
<script src="/js/message.js"></script>

<% if (message) { %>  
<div class="modalMensagem" id="mensagem">
    <span class="close-button">&times;</span>
    <%- message %>
</div>
<% } %>