<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar turma</title>
    <link rel="stylesheet" href="/css/editar_turma.css">
</head>
<body>

    <!--  disciplina_selecionada (nome, horario), matriculas (aluno (populado com nome, etc), disciplina) -->
    <%- include("partials/header") %>
    <%- include("partials/message") %>

    <% if (disciplina_selecionada && matriculas) { %>

        <div class="pagina">

        <table class="tabela-alunos">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Semestre</th>
                    <th>Ação</th>
                    <th>Remover</th>
                </tr>
            </thead>

            <tbody>
                <% for (let m of matriculas) { %>
                    <tr>
                        <td><%= m.aluno.nome %></td>
                        <td><%= m.aluno.semestre %></td>
                        <td><button class="button">Editar notas</button></td> <!--editar-button-->
                        <td><button class="button">Remover matrícula</button></td> <!--danger-button-->
                    </tr>
                <% } %>
            </tbody>
        </table>

        <br>
        <a href="/matricular_alunos" class="button">+ Fazer novas matrículas</a>

    </div>  

    <% } %>

</body>
</html>