<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/editar_notas.css">
  <title><%= title %></title>
</head>

<body>

  <%- include("partials/header") %>
  <%- include("partials/message") %>

  <div class="pagina">
    <h1>Lançamento de Notas</h1>

    <table>
      <thead>
        <tr>
          <th>Aluno</th>
          <th>Atividade 1</th>
          <th>Atividade 2</th>
          <th>Atividade 3</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Maria Silva</td>
          <td><input type="number" min="0" max="10"></td>
          <td><input type="number" min="0" max="10"></td>
          <td><input type="number" min="0" max="10"></td>
        </tr>

        <tr>
          <td>João Pereira</td>
          <td><input type="number" min="0" max="10"></td>
          <td><input type="number" min="0" max="10"></td>
          <td><input type="number" min="0" max="10"></td>
        </tr>

        <tr>
          <td>Ana Costa</td>
          <td><input type="number" min="0" max="10"></td>
          <td><input type="number" min="0" max="10"></td>
          <td><input type="number" min="0" max="10"></td>
        </tr>
      </tbody>
    </table>

    <br>
    <button class="button">Salvar Notas</button>

  </div>

</body>
</html>
