<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <%- include("partials/header") %>

    <div class="pagina">
        <button class="button" onclick="location.href='/login'">Ir para Login</button><br>
        <button class="button" onclick="location.href='/cadastro_disciplina'">Ir para Cadastro de Disciplinas</button><br>
        <button class="button" onclick="location.href='/minhas_disciplinas'">Ir para Minhas Disciplinas</button><br>
        <button class="button" onclick="location.href='/materiais'">Ir para Material</button><br>
        <button class="button" onclick="location.href='/perfil'">Ir para Meu Perfil</button><br>
        <button class="button" onclick="location.href='/upload'">Ir para Upload</button>
    </div>
    
</body>
</html>