<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <%- include("partials/header") %>
    <%- include("partials/message") %>

    <div class="pagina">
        <div class="container">
            <img src="https://www.unilasalle.edu.br/uploads/instituicoes/64157a1cfa9696dd.20181024170753.jpg" class="img1">
            <img src="https://assemperj.org.br/wp-content/uploads/2023/05/LOGO_UNISALLE.png" class="img2">
        </div>

        <div class="atalhos">
            <button class="button" onclick="location.href='/login'">Login</button>
            <button class="button" onclick="location.href='/minhas_disciplinas'">Minhas Disciplinas</button>
            <button class="button" onclick="location.href='/perfil'">Meu Perfil</button>
        </div>

    </div>

    
</body>
</html>