<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <style>
      body {
        padding: 50px;
        font: 13px Helvetica, Arial, sans-serif;
      }
      .error { color: red; }
      .success { color: green; }

      h1 {
        top: 20px;
        right: 800px;
      }
      #login_box{
        text-align: center;
        width: 400px;
        max-width: 90%;
        margin: 0 auto; 
        background-color: white;
        border-style:solid;
        border-color: rgb(176, 176, 176);
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
      }
      .inputbox{
        font-size: 130%;
        padding: 7px;
        background-color: rgb(226, 226, 226);
        border-style: solid;
        border-color:rgb(158, 158, 158);
        border-radius: 14px;
      }
      .button{
        font-size: 120%;
        color: white;
        padding: 10px;
        width: 58%;
        background-color: rgb(56, 151, 205);
        border-style: solid;
        border-color:rgb(45, 120, 163);
        border-radius: 14px;
      }
    </style>
  </head>

  <body>
    <h1>Login</h1>
    <!--<%- message %>
    Tente acessar <a href="/restrito">/restrito</a>, e depois tente após autenticar com "bruno" and "123".-->
    <fieldset id="login_box">
      <form method="post" action="/login">
        <p>
          <label for="username">Username</label>
          <br>
          <input type="text" name="username" id="username" class="inputbox">
        </p>
        <p>
          <label for="password">Password</label>
          <br>
          <input type="text" name="password" id="password" class="inputbox">
        </p>
        <p>
          <input type="submit" value="Login" class="button">
        </p>
      </form>
    </fieldset>
  </body>
</html>