<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  
  <body>
    <h1>Login</h1>
    <%- message %>
    <!--Tente acessar <a href="/restrito">/restrito</a>, e depois tente após autenticar com "bruno" and "123".-->
    <fieldset id="login_box">
      <form method="post" action="/login">
        <p>
          <label for="username">Username</label>
          <br>
          <input type="text" name="username" id="username" class="inputbox">
        </p>
        <p>
          <label for="password">Password</label>
          <br>
          <input type="text" name="password" id="password" class="inputbox">
        </p>
        <p>
          <input type="submit" value="Login" class="button">
        </p>
      </form>
    </fieldset>
  </body>
</html>