<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/todas_disciplinas.css"> 
  </head>

  <body>
   
    <%- include("partials/header") %>

    <div class="pagina">
      <h1>Disciplinas</h1>

    <% if(todas_disciplinas) { %> 
      <% for (let disciplina of todas_disciplinas) { %>
        <fieldset id="fieldset">
          <p>
            <label class="info-label">
              <strong>Disciplina:</strong> <%= disciplina.nomeDisciplina %>
            </label>
          </p>
          <p>
            <label class="info-label">
              <strong>Professor:</strong> 
              <%= disciplina.professorResponsavel ? disciplina.professorResponsavel.nome : "Sem professor" %>
            </label>
          </p>
        </fieldset> 
        <br>
      <% } %>
    <% } else { %>
      <p>nothing to show here</p>
    <% } %>

    </div>

  </body>
</html>