        * {
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
        }

        body {
            margin: 0;
            font-size: 13px;
            font-family: 'Montserrat', sans-serif;
            background: #f0f2f5;

        }

        #chat-window {
            width: 100%;
            max-width: 600px;
            height: 50vh;
            background: white;
            border-radius: 12px;
            padding: 15px;
            margin-top: 20px;

            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 4px 15px rgba(0,0,0,0.15);
        }

        /*#chat-window > div {
            flex: 1;
            overflow-y: auto;
            padding-right: 10px;
        }

        #chat-window > div > div {
            background: #e8e8e8;
            padding: 8px 12px;
            border-radius: 10px;
            margin: 10px 0;
            width: fit-content;
            max-width: 80%;
            word-wrap: break-word;
        }

        #chat-window > div > div.you {
            background: #d1ffd1;
            margin-left: auto;
        }*/

        #message-input {
            width: 100%;
            max-width: 600px;
            padding: 12px;
            border-radius: 8px;
            border: 1px solid #ccc;
            outline: none;
            margin-top: 10px;
            font-size: 15px;
        }

        #message-input:focus {
            border-color: #00aaff;
        }

        button {
            width: 200px;
            margin-top: 10px;
            padding: 12px;
            border: none;
            background: #398eb9;
            color: white;
            border-radius: 8px;
            font-size: 15px;
            cursor: pointer;
            transition: .5s;
        }

        button:hover {
            background: #21688c;
        }

        .pagina{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
       }