    .barra-superior {
        background: linear-gradient(90deg, #3182bc, #4aa1d8);
        text-decoration: none;
        color: rgb(255, 255, 255);
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 50px;
    }
    .barra-superior a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        margin-left: 15px;
        font-weight: bold;
        transition: 0.5s;
    }
    .barra-superior a:hover {
        color: rgb(203, 229, 246);
        text-decoration: none;
    }
