      body {
        margin: 0;
        font: 13px Helvetica, Arial, sans-serif;
        }

    .button{
        font-size: 120%;
        color: white;
        padding: 10px;
        width: 58%;
        background-color: rgb(56, 151, 205);
        border-style: solid;
        border-color:rgb(45, 120, 163);
        border-radius: 14px;
      }
    .pagina{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 60px);
        padding: 20px;
    }