      body {
        padding: 50px;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        background: #f0f2f5;
      }
      .error { color: red; }
      .success { color: green; }

      h1 {
        text-align: center;
      }
      #login_box{
        text-align: center;
        width: 400px;
        max-width: 90%;
        margin: 0 auto; 
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.15);
        border-style: none;
      }
      .inputbox{
        font-size: 130%;
        padding: 7px;
        background-color: rgb(226, 226, 226);
        border-style: solid;
        border-color:rgb(190, 190, 190);
        border-radius: 14px;
        transition: 0.5s;
      }
      .inputbox:hover{
        box-shadow: inset 0 0 20px rgba(134, 134, 134, 0.5);
      }
      .inputbox:focus{
        border-color:rgb(57, 139, 180);
      }
      .button{
        font-size: 120%;
        color: white;
        padding: 10px;
        width: 58%;
        background-color: rgb(56, 151, 205);
        border-style: solid;
        border-color:rgb(45, 120, 163);
        border-radius: 14px;
        transition: 0.5s;
        cursor: pointer;
      }
      .button:hover{
        background-color: rgb(51, 131, 177);
        box-shadow: inset 0 0 20px rgba(185, 185, 185, 0.5);
      }
