      body {
        padding: 50px;
        font: 13px Helvetica, Arial, sans-serif;
      }
      .error { color: red; }
      .success { color: green; }

      h1 {
        text-align: center;
      }
      #login_box{
        text-align: center;
        width: 400px;
        max-width: 90%;
        margin: 0 auto; 
        background-color: white;
        border-style:solid;
        border-color: rgb(176, 176, 176);
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
      }
      .inputbox{
        font-size: 130%;
        padding: 7px;
        background-color: rgb(226, 226, 226);
        border-style: solid;
        border-color:rgb(158, 158, 158);
        border-radius: 14px;
      }
      .button{
        font-size: 120%;
        color: white;
        padding: 10px;
        width: 58%;
        background-color: rgb(56, 151, 205);
        border-style: solid;
        border-color:rgb(45, 120, 163);
        border-radius: 14px;
      }