body {
    margin: 0;
    font: 13px Helvetica, Arial, sans-serif;
    }

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

h1 {
    display: flex;
    align-self: center;
}

.video_player{
    width: auto;
    height: auto;
    max-height: 80vh;
    max-width: 80vw;
    display: flex;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);;
}

.pdf_viewer{
    height: 80vh;
    width: 80vw;
    display: flex;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);;
}
