.modalMensagem {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: gainsboro;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border: 1px solid black;
    padding: 5px;
    z-index: 999;
}