.modalMensagem {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: gainsboro;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border-radius: 20px;
    border: 2px solid rgb(211, 74, 74);
    padding: 7px;
    z-index: 999;
    transition: 0.5s;
}

.modalMensagem:hover {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(209, 162, 162);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border-radius: 20px;
    border: 2px solid rgb(211, 74, 74);
    padding: 7px;
    z-index: 999;
}