.modalMensagem {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: gainsboro;
    box-shadow: 1px 1px 1px #000;
    border: 1px solid black;
    padding: 5px;
    z-index: 999;
}