        body {
        margin: 0;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        background: #f0f2f5;
      }
      .error { color: red; }
      .success { color: green; }

      h1 {
        text-align: center;
      }
      .card {
        position: relative;
        text-decoration: none;
        color: black;
        text-align: center;
        width: 400px;
        max-width: 90%;
        margin: 25px auto; 
        background-color: white;
        border-style: none;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.15);
        padding: 20px;
        transition: 0.5s;
      }
      .card::after {
        content: "";
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 10px; /* dist창ncia da borda direita */
        width: 6px;  /* espessura da linha */
        border-radius: 10px;
        background-color: var(--cor-linha); /* cor din창mica */
      }
      .card:hover{
        background-color: rgb(181, 218, 239);
        cursor: pointer;
        box-shadow: 0 4px 15px rgba(0,0,0,0.15);
      }
      .card2 {
        position: relative;
        text-decoration: none;
        color: black;
        text-align: center;
        width: 400px;
        max-width: 90%;
        margin: 25px auto; 
        background-color: white;
        border-style: none;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.15);
        padding: 20px;
        transition: 0.5s;
      }
      .card2::after {
        content: "";
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 10px; /* dist창ncia da borda direita */
        width: 6px;  /* espessura da linha */
        border-radius: 10px;
        background-color: var(--cor-linha); /* cor din창mica */
      }
      .card2:hover{
        background-color: rgb(181, 218, 239);  
        box-shadow: 0 4px 15px rgba(0,0,0,0.15);
      }
      .inputbox{
        font-size: 130%;
        padding: 7px;
        background-color: rgb(226, 226, 226);
        border-style: solid;
        border-color: rgb(158, 158, 158);
        border-radius: 14px;
      }
      .button {
        text-decoration: none;
        font-size: 100%;
        color: white;
        padding: 5px;
        width: 90%;
        background-color: rgb(56, 151, 205);
        border-style: solid;
        border-color: rgb(45, 120, 163);
        border-radius: 10px;
        cursor: pointer;
        display: block;  
        margin-bottom: 10px;
        margin-left: 10px;
        transition: 0.5s;
      }
      .button:hover{
        background-color: rgb(51, 131, 177);
        box-shadow: inset 0 0 20px rgba(185, 185, 185, 0.5);
      }
      .barra-superior {
        background-color: #e4e4e4;
        color: rgb(49, 146, 188);
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
      }
      .barra-superior a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin-left: 15px;
      }
      .barra-superior a:hover {
        text-decoration: underline;
      }
      .pagina{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
       }
      #foto_perfil{
        height: 130px;
        border-radius: 100px;
      }
      .info-box {
        font-size: 120%;
        padding: 7px;
        background-color: rgb(226, 226, 226);
        border: solid 1px rgb(158, 158, 158);
        border-radius: 14px;
        display: inline-block;
        width: 80%;
        margin-bottom: 15px;
      }
