        body {
        margin: 0;
        font: 13px Helvetica, Arial, sans-serif;
      }
      .error { color: red; }
      .success { color: green; }

      h1 {
        text-align: center;
      }
      .card {
        position: relative;
        text-decoration: none;
        color: black;
        text-align: center;
        width: 400px;
        max-width: 90%;
        margin: 0 auto; 
        background-color: white;
        border-style: solid;
        border-color: rgb(176, 176, 176);
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        padding: 20px;
      }
      .card::after {
        content: "";
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 10px; /* distância da borda direita */
        width: 6px;  /* espessura da linha */
        border-radius: 10px;
        background-color: var(--cor-linha); /* cor dinâmica */
      }
      .inputbox{
        font-size: 130%;
        padding: 7px;
        background-color: rgb(226, 226, 226);
        border-style: solid;
        border-color: rgb(158, 158, 158);
        border-radius: 14px;
      }
      .button {
        font-size: 120%;
        color: white;
        padding: 10px;
        width: 58%;
        background-color: rgb(56, 151, 205);
        border-style: solid;
        border-color: rgb(45, 120, 163);
        border-radius: 14px;
        cursor: pointer;
      }
      .barra-superior {
        background-color: #e4e4e4;
        color: rgb(49, 146, 188);
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
      }
      .barra-superior a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin-left: 15px;
      }
      .barra-superior a:hover {
        text-decoration: underline;
      }
      .pagina{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 60px);
        padding: 20px;
       }
      #foto_perfil{
        height: 130px;
        border-radius: 100px;
      }
      .info-box {
        font-size: 120%;
        padding: 7px;
        background-color: rgb(226, 226, 226);
        border: solid 1px rgb(158, 158, 158);
        border-radius: 14px;
        display: inline-block;
        width: 80%;
        margin-bottom: 15px;
      }