      body {
        margin: 0;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        background: #f0f2f5;
      }
      .error { color: red; }
      .success { color: green; }

      h1 {
        text-align: center;
      }
      #login_box {
        text-align: center;
        width: 400px;
        max-width: 90%;
        margin: 0 auto; 
        background-color: white;
        border-style: none;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.15);
        padding: 20px;
      }
      .inputbox, #select_alunos {
        font-size: 130%;
        padding: 7px;
        background-color: rgb(226, 226, 226);
        border-style: solid;
        border-color: rgb(158, 158, 158);
        border-radius: 14px;
        transition: 0.5s;
      }
      .inputbox:hover{
        box-shadow: inset 0 0 20px rgba(134, 134, 134, 0.5);
      }
      .inputbox:focus{
        border-color:rgb(57, 139, 180);
      }
      .button {
        font-family: 'Montserrat', sans-serif;
        font-size: 120%;
        color: white;
        padding: 10px;
        width: 58%;
        background-color: rgb(56, 151, 205);
        border-style: solid;
        border-color: rgb(45, 120, 163);
        border-radius: 14px;
        cursor: pointer;
        transition: 0.5s;
      }
      #lista_alunos {
        margin-top: 15px;
        text-align: left;
        list-style-type: none;
        padding-left: 0;
      }
      #lista_alunos li {
        background-color: #f0f0f0;
        margin: 5px 0;
        padding: 6px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .remove-btn {
        background: red;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 3px 6px;
        cursor: pointer;
      }
      .barra-superior {
        background-color: #e4e4e4;
        color: rgb(49, 146, 188);
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
      }
      .barra-superior a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin-left: 15px;
      }
      .barra-superior a:hover {
        text-decoration: underline;
      }
      .pagina{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
       }
      .button:hover{
        background-color: rgb(51, 131, 177);
        box-shadow: inset 0 0 20px rgba(185, 185, 185, 0.5);
      }
